<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- api.nuget.org redirects this network region to Microsoft's Azure China NuGet endpoint. -->
    <add key="nuget-azure-cn" value="https://nuget.azure.cn/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
